@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
:root {
  --airbnb: #ff385c;
  --white: #ffffff;
  --popins: "Poppins", sans-serif;
  --shadow: 0 4px 8px 0 rgba(255, 247, 247, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home-page-container {
  background-color: rgb(0, 0, 0);
  width: 100%;
  margin-top: 75px;
}
.home-page-box {
  padding: 10vh 10vw;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  /* height: 920px; */
}
.home-page-image {
  height: auto;
  max-width: 100%;
  border-radius: 10px;
}

.home-page-image-heading {
  margin-bottom: 7vh;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page-heading-text {
  color: white;
  font-size: 4rem;
}
.home-page-heading-btn {
  width: 170px;
  padding: 13px;
  font-size: 1.3rem;
  border: none;
  border-radius: 30px;
  color: #d80ddf;
  cursor: pointer;
}

/* Responsive */
@media (min-width: 2001px) {
  .home-page-box {
    padding: 10vh 10vw;
  }
  .home-page-image-heading {
    margin-bottom: 8vh;
  }
  .home-page-heading-text {
    font-size: 3rem;
  }
}

@media (min-width: 1440px) and (max-width: 2000px) {
  .home-page-box {
    padding: 6vw;
  }
  .home-page-image-heading {
    margin-bottom: 8vh;
  }
  .home-page-heading-text {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .home-page-box {
    padding: 7vh 6vw;
  }
  .home-page-image-heading {
    margin-bottom: 8vh;
  }
  .home-page-heading-text {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-page-box {
    padding: 0;
  }
  .home-page-image {
    border-radius: 0px;
  }
  .home-page-image-heading {
    margin-bottom: 8vh;
  }
  .home-page-heading-text {
    font-size: 3rem;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .home-page-box {
    padding: 0;
  }
  .home-page-image {
    border-radius: 0px;
  }
  .home-page-image-heading {
    margin-bottom: 7vh;
  }
  .home-page-heading-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .home-page-box {
    padding: 0;
  }
  .home-page-image-heading {
    margin-bottom: 5vh;
  }
  .home-page-image {
    border-radius: 0px;
    height: 393px;
  }
  .home-page-heading-text {
    font-size: 2rem;
    text-align: center;
  }
}
